@font-face {
   font-family: 'Raleway';
   src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
   font-family: 'Kaushan Script';
   src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}
@mixin responsive($media) {
   @if $media == sm {
      @media (max-width: 660px) { @content; }
   }
   @if $media == s {
      @media (max-width: 800px) { @content; }
   }
   @else if $media == md {
      @media (max-width: 1024px) { @content; }
   }
}
html,body {
   width: 100%;
}
.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 0;
}
.inner {
   width: 100%;
   max-width: 1170px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 3;
}
h2 {
   font-family: 'Kaushan Script';
   font-size: 30px;
   font-weight: 400;
   text-align: center;
   padding: 0.61em 0;
}
h3 {
   font-family: 'Raleway';
   font-weight: 900;
   font-size: 36px;
   padding: 0.53em 0;
   margin-bottom: 24px;
}
h4 {
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 24px;
   text-transform: uppercase;
}
p {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
}
.text { 
   padding: 2.11em 0;
   margin-bottom: 3.22em;
   text-align: center;
}
a {
   text-decoration: none;
   color: inherit;
}
.divider {
   width: 170px;
   border-bottom: 4px solid #F38281;
   
}
.boxes {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.box {
   width: 31.62%;
   position: relative;
}
.divider-mini {
   border-bottom: 4px solid #F38281;
   width: 70px;
}
@include responsive(md) {
   .inner { 
      max-width: 1024px;
      width: 96.1%;
   }
   .divider {
      width: 115.28px;
   }
   h2 {
      padding: 0.67em 0;
      font-size: 24px;
   }
   h3 {
      font-size: 24px;
      padding: 0.84em 0;
      margin-bottom: 20.24px;
   }
   h4 {
      font-size: 18px;
   }
   p {
      font-size: 14px;
   }
   .text {
      padding: 2.33em 0;
      margin-bottom: 3.45em;
   }
   .divider-mini {
      width: 47.47px;
   }
}
@include responsive(sm) {
   h2 {
      padding: 0.69em 0;
   }
   h3 {
      padding: 0.84em 0;
      margin-bottom: 20px;
   }
   .text {
      padding: 1.72em 0;
      margin-bottom: 0;
   }
   .boxes {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
   }
   .box {
      width: 100%;
   }
}

.banner {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;

   .banner__subtitle {
      color: #FFFFFF;
      font-size: 64px;
      margin-top: 1.1em;
   }
   h1 {
      font-family: 'Montserrat';
      text-align: center;
      font-size: 144px;
      font-weight: 700;
      color: #FFFFFF;
      max-width: 1000px;
      padding: 0.066em 0;
      margin-bottom: 0.31em;
   }
   .banner__divider {
      border-bottom: 4px solid #FFFFFF;
      margin-bottom: 74.42px;
   }
   .banner__button {
      font-family: 'Raleway';
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      background: none;
      color: #FFFFFF;
      border: 4px solid #FFFFFF;
      width: 370px;
      height: 77.58px;
      &:hover {
         background: #FFFFFF;
         color: #E4BE8D;
      }
      &:active {
         background: #FFFFFF;
         border: 4px solid #E4BE8D;
         background: #FFFFFF;
         color: #E4BE8D;
      }
   }
   .banner__slider {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 115px;
      margin-bottom: 85px;
   }
   .banner__slide {
      width: 23.08%;
      height: 4px;
      background-color: #FFFFFF;
   }
   @include responsive(md) {
      .banner__subtitle {
         font-size: 48px;
      }
      h1 {
         font-size: 96px;
      }
      .banner__divider {
         margin-bottom: 50.47px;
         width: 115.28px;
      }
      .banner__button {
         font-size: 18px;
         width: 317.14px;
         height: 53.61px;
      }
      .banner__slider {
         margin-top: 79px;
         margin-bottom: 58px;
      }
   }
   @include responsive(sm) {
      .banner__subtitle {
         font-size: 36px;
      }
      h1 {
         font-size: 48px;
         padding: 1.41em 0;
         margin-bottom: 0;
      }
      .banner__divider {
         width: 134px;
         margin-bottom: 50.64px;
      }
      .banner__button {
         font-size: 18px;
         width: 284.23px;
         height: 52.61px;
      }
      .banner__slider {
         margin-top: 53px;
         margin-bottom: 42px;
      }
   }
}
header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 3;
   
   .header__logo {
      width: 8.35%;
      height: 26.1px;
   }
   .header__logo-icon {
      width: 100%;
      height: 100%;
   }
   nav {
      width: 57.265%;
      padding: 2.6em 0;
      font-size: 14px;
   }
   .list {
      display: flex;
      width: 100%;
      align-items: center;
   }
   .item {
      list-style: none;
      font-family: 'Raleway';
      font-weight: 600;
      text-align: center;
      color: #FFFFFF;
      margin: 0 1.0357em;
      padding: 5px 0;
      width: 17%;

      &:active {
         color: #F4BF87;
         border-bottom: 1px solid #F4BF87;
         animation: infinite;
         animation-duration: 3s;
      }
   }
   .item-icon {
      width: 7.46%;
   }
   @include responsive(md){
      .header__logo {
         width: 6.67%;
         height: 17.7px;
      }
      nav {
         width: 55.88%;
         font-size: 13px;
      }
      .item-icon-img {
         width: 16.28px;
         height: 16.28px;
      }
   }
   @include responsive(sm) {
      & {
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
      }
      .header__logo {
         height: 22.92px;
         width: 62.71px;
         margin: 16.5px 0;
      }
      .list {
         height: 100%;
         max-width: 170px;
         flex-direction: column;
      }
      .item {
         width: 100%;
         padding: 1.788em 0;
      }
      .item-icon {
         display: none;
      }
   }
}
#burger, [for=burger]{
   display: none;
}
@include responsive(sm){
   [for=burger]{
      display: block;
      position: absolute;
      width: 30px;
      text-align: center;
      right: 20px;
      top: 4px;
   }
   [for=burger]::before {
      content: '☰';
      font-size: 38px;
      color: #ffffff;
   }
   nav { 
      display: none;
      width: 80%;
      user-select: none;
   }
   #burger:checked + label + nav {
      display: flex;
      width: 100%;
      height: 100vh;
      justify-content: center;
   }
   #burger:checked +[for=burger]::before {
   content: '×'; 
   font-size: 38px;
   color: #ffffff;
}
}
.banner {
   width: 100%;
   background: url(../img/eagle.svg) center no-repeat;
   background-size: cover;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);;
      z-index: 2;
   }
}
.about {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 42px;
   padding-bottom: 108px;
   
   .about__box {
      background-size: cover;
      height: 338px;
      cursor: pointer;
      &:hover:before {
         content: '';
         background: #95E1D3;
         z-index: 2;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transition-duration: 3s;
      }
      &:hover:after {
         content: '';
         background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
         z-index: 2;
         position: absolute;
         top: -16px;
         left: -16px;
         width: 100%;
         height: 100%;
         transition-duration: 3s;
      }
   }
   .about__box1 {
      background-image: url(../img/team1.svg);
      position: relative;
      z-index: 1;
   }
   .about__content {
      display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: absolute;
         top: -5%;
         left: -5%;
         z-index: 3;
         width: 100%;
         height: 100%;
         opacity: 0;
         cursor: pointer;

      &:hover {
         opacity: 1;
      }
   }
   .about__content-text{
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
   }
   .about__box2 {
      background-image: url(../img/team2.svg);
   }
   .about__box3 {
      background-image: url(../img/team3.svg);
   }
   .about__team {
      display: none;
   }
   .about__team-text {
      padding-left: 32.54px;
   }
   @include responsive(md){
      & {
         padding-top: 28.58px;
         padding-bottom: 59.67px;
      }
      .about__box {
         height: 282.71px;
      }
      .about__content-text {
         font-size: 18px;
      }
      .about__content-img {
         width: 33.46px;
         height: 33.46px;
      }
   }
   @include responsive(sm) {
      .about__box {
         height: 258px;
         margin-top: 16px;
         display: flex;
         align-items: flex-end;
         &:hover::after {
            display: none;
         }
         &:hover::before {
            display: none;
         }
      }
      .about__team {
         display: flex;
         align-items: center;
         font-family: 'Raleway';
         font-weight: 500;
         font-size: 18px;
         color: #FFFFFF;
         background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
         width: 100%;
         padding: 1.36em 0.77em;
      }
      .about__content {
         display: none;
      }
   }
}
.futures {
   width: 100%;
   background: #95E1D3;
   display: flex;
   justify-content: center;
   
   .futures__inner {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #ffffff;
   }
   .futures__box {
      width: 20%;
      border-left: 1px solid #ffffff;
   }
   .futures__number {
      color: #FFFFFF;
      font-size: 64px;
      padding-top: 0.8em;
      padding-bottom: 0.4em;
      text-align: center;
   }
   .futures__text {
      color: #FFFFFF;
      font-size: 24px;
      padding-bottom: 2.95em;
      text-align: center;
   }
   @include responsive(md) {
      .futures__number {
         font-size: 48px;
         padding-top: 0.7em;
         padding-bottom: 0.3em;
      }
      .futures__text {
         padding-bottom: 1.45em;
      }
   }
   @include responsive(sm) {
      .futures__inner {
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: 1fr 1fr 1fr;
         border-right: none;
      }
      .futures__box {
         width: 100%;
         border-left: none;
         border-bottom: 1px solid #fff;
      }
      .futures__box-grid {
         grid-column-start: 1;
         grid-column-end: 3;
         border-bottom: none;
      }
      .futures__number {
         padding-top: 0.25em;
         padding-bottom: 0.1em;
      }
      .futures__text {
         padding-bottom: 0.9em;
      }
   }
}
.amazing-service {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 42px;
   padding-bottom: 91px;

   .amazing-service__boxes-1 {
      padding-top: 88px;
      padding-bottom: 148px;
   }
   .amazing-service__box {
      display: flex;
   }
   .amazing-service__icons {
      display: block;
      width: 70px;
      height: 70px;
   }
   .amazing-service__article {
      padding-left: 30px;
   }
   .amazing-service__subtitle {
      padding: 0.27em 0;
   }
   .amazing-service__text {
      padding: 1.05em 0;
   }
   @include responsive(md) {
      & {
         padding-top: 29.11px;
         padding-bottom: 58.15px;
      }
      .amazing-service__icons {
         width: 59.35px;
         height: 59.35px;
      }
      .amazing-service-article {
         padding-left: 25.44px;
      }
      .amazing-service__boxes-1 {
         padding-top: 74.47px;
         padding-bottom: 65.25px;
      }
      .amazing-service__subtitle {
         padding: 0.62em 0;
      }
      .amazing-service__text {
         padding: 1.24em 0;
      }
      .amazing-service__boxes-1 {
         padding-top: 72.15px;
         padding-bottom: 0;
      }
   }
   @include responsive(sm) {
      & {
         padding-bottom: 16.15px;
      }
      .amazing-service__boxes-1 {
         padding-top: 72.15px;
         padding-bottom: 0;
      }
      .amazing-service__text {
         padding: 0.43em 0;
      }
      .amazing-service__box {
         margin-bottom: 42px;
         max-width: 288px;
      }
   }
}
.devices {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(../img/mountains.svg) center no-repeat;
   background-size: cover;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   padding-top: 42px;
   padding-bottom: 59px;

   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      z-index: 2;
   }
   .tablet {
      position: relative;
      width: 100%;
      height: 538px;
      text-align: center;
      margin-top: 77px;
   }
   .tablet__frame {
      width: 100%;
      max-width: 708px;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      z-index: 5;
      display: block;
   }
   .tablet__about {
      display: block;
      padding-top: 17px;
      width: 100%;
      height: 97%;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      z-index: 4;
   }
   .tablet__mobile {
      display: block;
      position: absolute;
      top: 80%;
      left: 75%;
      transform:translate(-50%, -50%);
      z-index: 5;
      max-height: 80%;
   }
   @include responsive(md) {
      & {
         padding-top: 28.48px;
         padding-bottom: 38.65px;
      }
      .tablet {
         width: 100%;
         height: 356.03px;
         margin-top: 39.95px;
      }
      .tablet__frame {
         max-width: 465px;
      }
      .tablet__mobile {
         left: 70%;
      }
   }
   @include responsive(sm) {
      & {
         padding-top: 43.18px;
         padding-bottom: 25px;
      }
      .tablet {
         width: 100%;
         height: 219px;
         margin-top: 36.64px;
      }
      .tablet__frame {
         max-width: 286px;
      }
      .tablet__mobile {
         top: 87%;
         left: 72%;
      }
   }
}
.service {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 42px;
   padding-bottom: 114px;

   .service__box-left {
      width: 48.72%;
      background-image: url(../img/service-img.svg);
      background-size: cover;
      max-height: 483px;
   }
   .service__box-right {
      width: 48.72%;
   }
   .service__box {
      position: relative;
      margin-bottom: 22px;
   }
   .box__drop-down {
      display: flex;
      align-items: center;
      border: 1px solid #C6CBCD;
      padding-left: 18px;
      padding-right: 14px;
      cursor: pointer;
   }
   .service__subtitle {
      padding: 1.29em 0;
      margin-left: 40px;
   }
   .scrollbar {
      overflow-y: scroll;
      background-color: #ffffff;
   }
   .drop-down__text {
      min-height: 300px;
      padding-right: 3.1em;
   }
   .scrollbar::-webkit-scrollbar {
      width: 7px;
      background-color: #F5F5F5;
   }
   .scrollbar::-webkit-scrollbar-thumb {
      background-color: #95E1D3;
   
   }
   .scrollbar__inner {
      border: 1px solid #C6CBCD;
      border-top: none;
      padding-right: 10px;
      padding: 18px 21px 18px 21px;
      height: 163px;
      display: none;
   }
   #drop-down1, [for=drop-down1]{
      display: none;
   }
   [for=drop-down1]{
      display: block;
      position: absolute;
      width: 30px;
      text-align: center;
      right: 20px;
      top: 4px;
   }
   [for=drop-down1]::before {
      content: '';
      background-image: url(../icons/arrow_down.png);
      width: 42px;
      height: 42px;
      display: block;
      position: absolute;
      top: 21px;
      right: 14px;
   }
   .scrollba__inner { 
      display: none;
      width: 80%;
      user-select: none;
   }
   #drop-down1:checked + label + div {
      display: flex;
      width: 100%;
      
   }
   #drop-down1:checked +[for=drop-down1]::before {
   content: '';
      background-image: url(../icons/arrow_up.png);
      width: 42px;
      height: 42px;
      display: block;
   }
   #drop-down2, [for=drop-down2]{
      display: none;
   }
   [for=drop-down2]{
      display: block;
      position: absolute;
      width: 30px;
      text-align: center;
      right: 20px;
      top: 4px;
   }
   [for=drop-down2]::before {
      content: '';
      background-image: url(../icons/arrow_down.png);
      width: 42px;
      height: 42px;
      display: block;
      position: absolute;
      top: 21px;
      right: 14px;
   }
   .scrollba__inner { 
      display: none;
      width: 80%;
      user-select: none;
   }
   #drop-down2:checked + label + div {
      display: flex;
      width: 100%;
   }
   #drop-down2:checked +[for=drop-down2]::before {
      content: '';
      background-image: url(../icons/arrow_up.png);
      width: 42px;
      height: 42px;
      display: block;
   }
   #drop-down3, [for=drop-down3]{
      display: none;
   }
   [for=drop-down3]{
      display: block;
      position: absolute;
      width: 30px;
      text-align: center;
      right: 20px;
      top: 4px;
   }
   [for=drop-down3]::before {
      content: '';
      background-image: url(../icons/arrow_down.png);
      width: 42px;
      height: 42px;
      display: block;
      position: absolute;
      top: 21px;
      right: 14px;
   }
   #drop-down3:checked + label + div {
      display: flex;
      width: 100%;
   }
   #drop-down3:checked +[for=drop-down3]::before {
      content:'';
      background-image: url(../icons/arrow_up.png);
      width: 42px;
      height: 42px;
      display: block;
   }
   @include responsive(md) {
      .service__box {
         margin-bottom: 18.65px;
      }
      .service__subtitle {
         padding: 1.53em 0;
         margin-left: 32.11px;
      }
      .service__icon {
         width: 35.81px;
         height: 35.61px;
      }
      .service__box-left {
         max-height: 408px;
      }
      .scrollbar__inner {
         height: 138.2px;
         padding: 14.5px 24px 14.5px 22px;
      }
      .scrollbar::-webkit-scrollbar {
         width: 5.97px;
      }
      [for=drop-down1]::before, [for=drop-down2]::before,[for=drop-down3]::before {
         width: 35.81px;
         height: 35.61px;
         top: 17.81px;
         right: 11.94px;
      }
      #drop-down1:checked +[for=drop-down1]::before, #drop-down2:checked +[for=drop-down2]::before, #drop-down3:checked +[for=drop-down3]::before {
         width: 35.81px;
         height: 35.61px;
         top: 17.81px;
         right: 11.94px;
      }
   }
   @include responsive(sm) {
      .service__box-left {
         width: 100%;
         height: 142px;
         margin-bottom: 29px;
      }
      .service__box-right {
         width: 100%;
         margin-bottom: 19px;
      }
   }
}
.reviews {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:#F8F8F8;
   padding: 42px 0;
   flex-direction: column;

   .reviews__inner {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
   }
   .reviews__inner-left {
      width: 21.97%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .reviews__arrow-left, .reviews__arrow-right {
      display: block;
      width: 42px;
      height: 42px;
      cursor: pointer;
   }
   .reviews__inner-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #95E1D3;
      width: 170px;
      height: 170px;
   }
   .reviews-1__icon {
      width: 100px;
      height: 100px;
   }
   .reviews__inner-right {
      width: 73.5%;
      display: flex;
      align-items: center;
   }
   .reviews__content-top {
      color: #A9AFB1;
      font-size: 24px;
      font-style: italic;
      font-weight: 500;
      padding-right: 1em;
      padding-bottom: 21px;
   }
   .reviews__content-bottom {
      display: flex;
      align-items: center;
   }
   .reviews__name {
      font-family: 'Kaushan Script';
      font-weight: 400;
      font-size: 30px;
      padding: 0.17em 0;
      padding-left: 1.87em;
   }
   .slider {
      display: none;
      justify-content: center;
      align-items: center;
   }
   .slide {
      height: 9.49px;
      width: 9.49px;
      border: 1px solid #C6CBCD;
      border-radius: 50%;
      margin: 0 10.25px;
   }
   .slide-active {
      background-color: #C6CBCD;
   }
   @include responsive(md) {
      & {
         padding: 28.48px 0;
      }
      .reviews__arrow-left, .reviews__arrow-right{
         height: 23.48px;
         width: 23.48px;
      }
      .reviews__inner-icon {
         width: 115.28px;
         height: 115.28px;
      }
      .reviews__content-top { 
         font-size: 18px;
         padding-bottom: 14px;
      }
      .reviews__name {
         font-size: 24px;
         padding: 0;
         padding-left: 1.57em;
      }
   }
   @include responsive(sm) {
      .reviews__arrow-left, .reviews__arrow-right {
         display: none;
      }
      .reviews__inner-left{
         display: none;
      }
      .reviews__inner-right {
         width: 100%;
      }
      .reviews__content-top {
         font-size: 14px;
         padding-bottom: 18px;
      }
      .reviews__name {
         font-size: 18px;
      }
      .slider {
         display: flex;
         margin-top: 25px;
      }
   }
}
.our-team {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 84px 0;
   .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .our-team__box {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 27vw;
      &:hover:before {
         content:'';
         background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
         width: 100%;
         height: 100%;
         top: -5%;
         left: -5%;
         position: absolute;
         z-index: 2;
         cursor: pointer;
         transition-duration: 4s;
      }
   }
   .our-team__box-1{
      width: 100%;
      position: relative;
      background-image: url(../img/founder.png);
      background-size: cover;
      z-index: 1;
   }
   .our-team__box-2{
      width: 100%;
      position: relative;
      background-image: url(../img/designer.png);
      background-size: cover;
      z-index: 1;
   }
   .our-team__box-3{
      width: 100%;
      position: relative;
      background-image: url(../img/photographer.png);
      background-size: cover;
      z-index: 1;
   }
   .our-team__sosial {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 3;
      top: -5%;
      left: -5%;
      cursor: pointer;
      
      &:hover {
         opacity: 1;
      }
      .our-team__sosial-img {
         width: 171px;
         height: 42px;
      }
   }
   .our-team__name {
      text-align: center;
      padding: 1.1em 0;
   }
   .our-team__text {
      color: #2D3033;
      text-align: center;
      padding: 0.25em 0;
   }
   @include responsive(md) {
      & {
         padding: 58px 0;
      }
      .our-team__box {
         height: 34vw;
         .our-team__sosial-img {
            width: 144.82px;
            height: 35.57px;
         }
      }
      .our-team__name {
         padding: 0.78em 0;
      }
      .our-team__text {
         padding: 0.1em 0;
      }
   }
   @include responsive(sm) {
      & {
         padding: 29px 0;
      }
      .box {
         margin-bottom: 29px;
      }
      .our-team__box {
         height: 107vw;
         &:hover::before {
            display: none;
         }
      }
      .our-team__sosial {
         top: 0;
         left: 0;
         justify-content: flex-end;
         align-items: flex-end;
      }
   }
   
}
.partners {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #F8F8F8;
   padding: 42px 0;
   width: 100%;

   .partners__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
   }
   .partners__icon-1, .partners__icon-2, .partners__icon-6 {
      display: block;
      width: 10.86%;
   }
   .partners__icon-3 {
      width: 6.15%;
   }
   .partners__icon-4 {
      width: 6.86%;
   }
   .partners__icon-5 {
      width: 5.85%;
   }
   @include responsive(md) {
      & {
         padding: 28px 0;
      }
   }
   @include responsive(sm) {
      & {
         padding: 30px 0 21.79px 0;
      }
      .partners__inner {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         justify-items: center;
      }
      .partners__icon-1, .partners__icon-2, .partners__icon-6 {
         width: 86.21px;
         height: 86.21px;
      }
      .partners__icon-2 {
         grid-column-start: 3;
         grid-column-end: 4;
      }
      .partners__icon-3 {
         width: 48.83px;
         height: 45.29px;
         grid-column-start: 3;
         grid-column-end: 4;
         grid-row-start: 3;
         grid-row-end: 4;
      }
      .partners__icon-4 {
         width: 54.4px;
         height: 54.4px;
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 3;
         grid-row-end: 4;
      }
      .partners__icon-5 {
         width: 46.42px;
         height: 45.27px;
         grid-column-start: 2;
         grid-column-end: 3;
         grid-row-start: 2;
         grid-row-end: 3;
      }
      .partners__icon-6 {
         grid-column-start: 2;
         grid-column-end: 3;
         grid-row-start: 4;
         grid-row-end: 5;
      }
   }
}
.work {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 42px;
   padding-bottom: 84px;

   .work__gallery {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .gallery__img {
         position: relative;
         z-index: 1;
         width: 100%;
         height: 27vw;
         &:hover::after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
            transition-duration: 2s;
         }
      }
      .gallery__hover {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         width: 100%;
         height: 100%;
         color: #fff;
         position: absolute;
         z-index: 3;
         top: 0;
         left: 0;
         opacity: 0;
         &:hover {
            opacity: 1;
            transition-duration: 2s;
         }
         .gallery__hover-icon {
            width: 42px;
            height: 42px;
         }
      }
      .gallery__img-1 {
         background-image: url(../img/gallery__img-1.png);
         background-size: cover;
         position: relative;
         z-index: 1;
         width: 100%;
      }
      .gallery__img-2 {
         background-image: url(../img/gallery__img-2.png);
         position: relative;
         background-size: cover;
         z-index: 1;
         width: 100%;
      }
      .gallery__img-3 {
         background-image: url(../img/gallery__img-3.png);
         position: relative;
         background-size: cover;
         z-index: 1;
         width: 100%;
         grid-column-start: 3;
         grid-column-end: 4;
         grid-row-start: 1;
         grid-row-end: 3;
         &:hover::after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
         }
      }
      .gallery__img-4 {
         background-image: url(../img/gallery__img-4.png);
         position: relative;
         background-size: cover;
         z-index: 1;
         width: 100%;
      }
      .gallery__img-5 {
         background-image: url(../img/gallery__img-5.png);
         position: relative;
         background-size: cover;
         z-index: 1;
         width: 100%;
      }
      .gallery__img-6 {
         background-image: url(../img/gallery__img-6.png);
         position: relative;
         background-size: cover;
         z-index: 1;
         width: 100%;
      }
      .gallery__img-7 {
         background-image: url(../img/gallery__img-7.png);
         position: relative;
         background-size: cover;
         z-index: 1;
         width: 100%;
      }
   }
   @include responsive(md) {
      & {
         padding: 58px 0;
      }
   }
   @include responsive(sm) {
      & {
         padding: 29px 0;
      }
      .work__gallery {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
         .gallery__hover-icon {
            width: 28.48px;
            height: 28.48px;
         }
         .gallery__img {
            height: 50vw;
         }
         .gallery__img-1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
         }
         .gallery__img-2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
         }
         .gallery__img-3 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
         }
         .gallery__img-5 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
         }
         .gallery__img-6 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 6;
            width: 100vw;
            height: 200px;
         }
         .gallery__img-7 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
         }
      }
   }
}
.reviews-2 {
   background: none;
}
.reviews-2__icon {
   display: block;
   width: 170px;
   height: 170px;

   @include responsive(md) {
      & {
         width: 115.28px;
         height: 115.28px;
      }
   }
}
.clients {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 84px;
   padding-top: 42px;
   background: url(../img/forest.svg) center no-repeat;
   background-size: cover;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.9);
      z-index: 2;
   }

   .clients__boxes {
      display: grid;
      grid-template-columns: 46.92% 46.92%;
      grid-template-rows: 1fr 1fr;
      justify-content: space-between;
      margin-top: 42px;
   }
   .clients__box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 42px;
   }
   .client__img {
      width: 130px;
      height: 130px;
      margin-top: 20px;
   }
   .client__content {
      width: 67.21%;
   }
   .client__subtitle {
      padding: 0.5em 0;
   }
   .client__divider-mini {
      margin: 32px 0;
   }
   .client__text {
      padding: 1.25em 0;
   }
   @include responsive(md) {
      & {
         margin-top: 57.75px;
         padding-top: 28px;
      }
      .clients__boxes {
         margin-top: 28px;
      }
      .clients__box {
         margin-bottom: 28px;
      }
      .client__divider-mini {
         margin: 21px 0;
      }
      .client__img {
         width: 88.16px;
         height: 88.16px;
         margin-top: 10px;
      }
   }
   @include responsive(sm) {
      & {
         margin-top: 28px;
         padding-top: 28px;
      }
      .clients__boxes {
         grid-template-columns: 1fr;
      }
      .clients__box {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      .client__img {
         margin-bottom: 21px;
      }
      .client__content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
         text-align: center;
      }
      .client__divider-mini {
         width: 134px;
      }
   }
}
.stories {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 82px 0;

   .stories__boxes {
      padding-top: 42px;
   }
   .stories__img {
      display: block;
      width: 100%;
      margin-bottom: 30px;
   }
   .stories__data {
      width: 80px;
      height: 80px;
      background: #95E1D3;
      color: #FFFFFF;
      text-align: center;
      position: absolute;
      top: 148px;
      left: -15px;
   }
   .stories__data-number {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
   }
   .stories__data-text {
      font-weight: 500;
      font-size: 18px;
   }
   h4 {
      text-transform: uppercase;
      padding: 0.25em 0;
   }
   .stories__text {
      padding: 0.41em 0;
   }
   .stories__data-text {
      padding: 0.1em 0;
   }
   .stories__icons {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 13px;
      display: flex;
      align-items: center;
      padding-top: 25px;
   }
   .stories__icons-viev {
      width: 32px;
      height: 32px;
      margin-right: 16px;
   }
   .stories__icons-comment {
      width: 32px;
      height: 32px;
      margin-right: 16px;
      margin-left: 50px;
   }
   @include responsive(md) {
      & {
         padding: 58px 0;
      }
      .stories__boxes {
         padding-top: 36px;
      }
      .stories__data {
         width: 67.86px;
         height: 67.86px;
         left: -9px;
      }
      .stories__data-number {
         font-size: 24px;
         padding-top: 8px;
      }
      .stories__data-text {
         font-size: 14px;
      }
      .stories__img {
         margin-bottom: 26px;
      }
      .stories__icons {
         font-size: 12px;
         padding-top: 19px;
      }
      .stories__icons-viev {
         width: 27.14px;
         height: 27.14px;
      }
      .stories__icons-comment {
         width: 27.14px;
         height: 27.14px;
         margin-left: 30px;
      }
   } 
   @include responsive(sm) {
      & {
         padding: 29px 0;
      } 
      .stories__boxes {
         gap: 29px;
      }
   }    
}
.map {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 42px 0;
   background: url(../img/map.png) center no-repeat;
   background-size: cover;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.9);
      z-index: 2;
   }
   h3 {
      color: #F38281;
   }
   @include responsive(md) {
      & {
         padding: 28.48px 0;
      }
   }
   .map__icon {
      width: 28.48px;
      height: 28.48px;
   }
   @include responsive(sm) {
      & {
         padding: 42px 0;
      }
   }
   .map__icon {
      width: 42px;
      height: 42px;
   }
}
footer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #F8F8F8;
   padding-top: 42px;

   .footer__boxes {
      padding-bottom: 42px;
      border-bottom: 1px solid #C6CBCD;
   }
   .footer__box-left {
      width: 31.62%;
   }
   .footer__logo {
      width: 270px;
      height: 100px;
   }
   p {
      padding: 0.97em 0;
      color: #C6CBCD;
   }
   .footer__followers {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 36px;
      display: flex;
      align-items: baseline;
      padding: 0.33em 0;
      border-bottom: 1px solid #C6CBCD;
      p {
         font-size: 18px;
         color: #2D3033;
         font-weight: 700;
      }
   }
   .footer__followers-text {
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      text-transform: uppercase;
      padding-left: 0.1em;
   }
   .footer__link {
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 400;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 37px;
      padding: 0.5em 0;
      cursor: pointer;
   }
   .footer__icons{
      padding-left: 30px;
      width: 72.97%;
      display: flex;
      justify-content: space-between;
   }
   .footer__icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
   }
   .footer__form {
      display: flex;
      border: 1px solid #C6CBCD;
   }
   input {
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 18px;
      color: #C6CBCD;
      width: 63.83%;
      height: 55px;
      text-align: center;
      border: none;
      outline: none;
   }
   .footer__button {
      width: 36.17%;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #95E1D3;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      &:hover {
         background: #87D2C4;
      }
      &:active {
         background: #5C958A;
      }
   }
   .footer__box-middle {
      width: 40%;
      display: flex;
      flex-direction: column;
   }
   h4 {
      text-transform: uppercase;
      padding: 1.5em 0;
   }
   .box-middle__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   .blogs__img {
      width: 36.32%;
      max-height: 105px;
   }
   .blogs__img-middle {
      margin: 20px 0;
   }
   .box-middle__content-text {
      width: 57.69%;

      h4 {
         font-size: 18px;
         padding: 0.2em 0;
      }
      p {
         font-size: 13px;
      }
   }
   .footer__box-right {
      width: 23.08%;
   
      .footer__gallery {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
      }
      .footer__gallery-img {
         width: 100%;
      }
      p {
            font-size: 13px;
            text-decoration-line: underline;
            text-transform: uppercase;
            padding: 2.89em 0;
            cursor: pointer;
      }
   }
   .footer__copyright {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
      padding: 1.35em 0;
   }
   @include responsive(md) {
      & {
         padding-top: 28px;
      }
      .footer__logo {
         width: 182.74px;
         height: 67.68px;
      }
      .footer__followers {
         font-size: 24px;
      }
      .footer__followers-text {
         font-size: 14px;
      }
      .footer__icon {
         width: 16.24px;
         height: 16.24px;
      }
      input {
         width: 53.94%;
         font-size: 14px;
         height: 37.23px;
      }
      .footer__button {
         width: 46.06%;
         font-size: 14px;
         height: 37.23px;
      }
      .box-middle__content-text {
         h4 {
            font-size: 14px;
         }
      }
      .blogs__img {
         max-height: 71px;
      }
      .blogs__img-middle {
         margin: 13.54px 0;
      }
   }
   @include responsive(sm) {
      .footer__box-left {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
      }
      .footer__logo {
         margin-left: 91px;
      }
      p {
         text-align: center;
      }
      .footer__link {
         width: 100%;
         max-width: 310px;
      }
      .footer__form {
         flex-direction: column;
         border: none;
      }
      input {
         width: 288px;
         border: 1px solid #C6CBCD;
         margin-bottom: 24.05px;
         text-align: left;
      }
      .footer__button {
         width: 288px;
      }
      .footer__box-middle {
         width: 100%;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         display: flex;
      }
      .footer__box-right {
         width: 100%;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         display: flex;
      }
   }
}




